<!--Place Order Start-->
<div class="checkout-placeorder">
    <div class="checkout-placeorder__label-total">
        <div class="checkout-placeorder__label-total__empty"></div>
        <div class="checkout-placeorder__label-total__label">Merchandis SubTotal:</div>
        <div class="checkout-placeorder__label-total__total">$12.0</div>
    </div>
    <div class="checkout-placeorder__label-total">
        <div class="checkout-placeorder__label-total__empty"></div>
        <div class="checkout-placeorder__label-total__label">Shipping Total:</div>
        <div class="checkout-placeorder__label-total__total">$2.0</div>
    </div>
    <div class="checkout-placeorder__label-total">
        <div class="checkout-placeorder__label-total__empty"></div>
        <div class="checkout-placeorder__label-total__label">Total Payment:</div>
        <div class="checkout-placeorder__label-total__total mat-display-1 u-total">$12.1</div>
    </div>
    <div class="checkout-placeorder__horizontal"></div>
    <div class="checkout-placeorder__button">
        <button mat-raised-button color="accent">Place Order</button>
    </div>
</div>
<!--Place Order End-->

