
.product-main {
  font-size: 0.875rem; // 14px
  //padding: 2rem; /* need to give space for left & right side of the sku grid */
  display: grid;

  &__banner {
    display: grid;
  }

  &__category {
    display: grid;
  }

  &__list {
    display:grid;
  }
}

