/* pdgrid --> products -detail grid */

.product-detail-grid {
    display:grid;
    grid-template-columns:  1fr 2fr;
    grid-template-areas: "img title"
                         "desc desc" ; 
    grid-gap: 1rem; 
}

.product-detail-grid-items > div {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 1.5rem;
    
}

.product-detail-title {
    grid-area: title;
    @extend .product-detail-grid-items;
    div {
        flex:0 1 auto;
        div:last-child  {
            padding-left:2rem;
        } 
    }
}

.product-detail-desc {
    grid-area: desc;
    padding:1rem;
}

.product-detail-img {
    grid-area: img;
    padding:1rem;
    @extend .product-detail-grid-items;
    align-items: center;
    justify-content: center;
    img {
        object-fit: cover;
        flex:0 1 auto;
        width: 450px;
        height: 55vh;
    }
} 


.product-detail-img-slide {
    img {
        object-fit: cover;
        margin: .2rem;
        width: 50px;
        height: 10vh;
        cursor: pointer;
    }
 }

.product-detail-container  {
    background-color: white;
    padding: 0.5rem;
    margin: 1rem;
}

mat-form-field {
    width: 150px; 
    text-align: center;
}