
<div class="product-detail-container"> <!-- TODO: styling app-container only use for detail -->
    <section class="product-detail-grid mat-subheading-2" *ngIf="product"> <!-- START section -->
      <div class="product-detail-img">

        <!-- main image -->
        <img *ngIf="mainPicture" [src]="mainPicture" />

        <ng-container>
          <img 
            *ngIf="!mainPicture && product.imgUrl" 
            [src]="product.imgUrl" />
        </ng-container>

        <ng-container 
          *ngFor="let p of product.parentSn.parent2image.edges" >
          <img 
            *ngIf="!mainPicture && !product.imgUrl && p.node.coverPhoto" 
            [src]="p.node.imgUrl"
          >
        </ng-container>    
        <!-- main image -->

        <!-- image slide -->
        <div class="product-detail-img-slide" >
          <ng-container *ngFor="let p of product.parentSn.parent2image.edges">
            <img [src]="p.node.imgUrl" (mouseover)="setMainPicture(p.node.imgUrl)"/>
          </ng-container>    
        </div>
        <!-- image slide -->

      </div>
      <div class="product-detail-title" >
          <div class="mat-title" style="margin-bottom:0" >{{product.parentSn.title}}</div>
          <div class="mat-display-1" style="margin-bottom:0"> {{product.price | currency}} </div>

          <div class='mat-body'>  
            <div>{{product.productVariant.name}}:</div>
            <div>
              <mat-button-toggle-group>
                <mat-button-toggle 
                  [routerLink]="['', { outlets: { primary: ['product', 'detail', variants.node.id], amount: null }}]"
                  [checked]="product.options == variants.node.options" 
                  [value]="variants.node.options" 
                  *ngFor="let variants of product.parentSn.product2variantitem.edges">
                    {{variants.node.options}} 
                </mat-button-toggle>
              </mat-button-toggle-group> 
            </div>    
          </div> 
  

          <div class='mat-body'>
            <div>available stocks:</div>
            <div>{{product.quantity}} </div>
          </div>

          <div class='mat-body'>
            <div>quantity:</div>
            <div>
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="quantity" /> 
              </mat-form-field>
            </div> 
          </div> 
  
        <div>
           <button mat-raised-button color="accent" (click)="addCart(product.sku, quantity)">Add to Cart</button>
        </div>    
  
      </div> 
  
      <div class="product-detail-desc mat-body" >
        <p [innerHTML]="product.parentSn.goodsDesc"></p>
      </div>
  
    </section> <!-- END section -->
  
  </div>
