
$outer-box-bgcolor: white;

.u-horizontal-line {
  display: grid;
  border-bottom-color: #eee;
  border-bottom-style: solid;
}


.checkout-main {
  font-size: 0.875rem; // 14px
  display: grid;
  margin: 1rem 2.5rem;
  gap: 1rem;

  &__address {
    background-color: $outer-box-bgcolor;
    padding: 1.5rem; 
    display: grid;

    &__label-icon {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items:center;
      gap: .5rem;
      &__icon {
        display: grid;
      }
      &__label {
        display: grid;
        justify-self: left;
        font-size: 18px;
      }
    }

    &__value {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1rem;
      &__customer-name {
        display: grid;
      }
      &__address {
        display: grid;
      }
      &__change {
        display: grid;
        justify-self: right;
      }
    }

  }

  &__items {
    background-color: $outer-box-bgcolor;
    padding: 1.5rem; 
    display: grid;

    &__header { // header STARTS
      display: grid;
      width: 100%;
      padding: 0.5rem;
      grid-template-columns: 90px 2fr .5fr .5fr .5fr;
      grid-template-areas: 'img products unit qty subtotal';
      align-items: center;

      &__img {
        grid-area: img;
        justify-self: left;
      }

      &__products {
        grid-area: products;
        justify-self: left;
      //  color: lightslategray;
      }

      &__unit {
        grid-area: unit;
        justify-self: center;
      //  color: lightslategray;
      }

      &__qty {
        grid-area: qty;
        justify-self: center;
      //  color: lightslategray;
      }

      &__subtotal {
        grid-area: subtotal;
        justify-self: right;
      //  color: lightslategray;
      }
    } // header END

    &__horizontal {
      @extend .u-horizontal-line;
    }


    &__fees { // order fees start
      padding: 1rem;
      display: grid;
      gap: .5rem;
      grid-template-columns: auto  1fr auto 1fr 1fr;
      grid-template-areas: 'msg-label msg-input ship-label ship subtotal2';

      &__msg-label {
        grid-area: msg-label;
      }

      &__msg-input {
        grid-area: msg-input;
        justify-self:left;
      }

      &__ship-label {
        grid-area: ship-label;
      }

      &__ship {
        grid-area: ship;
      }

      &__subtotal {
        grid-area: subtotal2;
        justify-self: right;
      }
    } // order fees end

    &__ordertotal{
      display: grid;
      grid-template-columns: 1fr 50px;
      grid-template-areas: 'label total';
      align-items:center;

      &__label {
        justify-self: right;
        grid-area: label;
      }
      &__total {
        justify-self: right;
        grid-area: total;
      }
    }


  }
  
  &__voucher {
    background-color: $outer-box-bgcolor;
    display: grid;
    padding: 1.5rem; 
    align-items: center;

    &__label-icon {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items:center;
      gap: .5rem;
      &__icon {
        display: grid;
      }
      &__label {
        display: grid;
        justify-self: left;
        font-size: 18px;
      }
    }


    &__select {
      display: grid;
      justify-self: right;
    }
  }

  &__payment {
    background-color: $outer-box-bgcolor;
    padding: 1.5rem; 
    gap: 1rem;
    display: grid;
    align-items: center;

    &__label-icon {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items:center;
      gap: .5rem;
      &__icon {
        display: grid;
      }
      &__label {
        display: grid;
        justify-self: left;
        font-size: 18px;
      }
    }


    &__method {
      display: grid;
      justify-self: left;
    }
  }


  &__place-order {
    background-color: $outer-box-bgcolor;
    padding: 1rem 1.5rem; 
    display: grid;

    &__label-total {
      display: grid;
      grid-template-columns: 850px 1fr auto;
      align-items: center;
      &__empty {
        display: grid;
        padding: .5rem;
      }
      &__label {
        justify-self: left;
        padding: .5rem;
      }
      &__total {
        justify-self: right;
        padding: .5rem;
      }
    }

    &__horizontal {
      @extend .u-horizontal-line;
    }

    &__button {
      display: grid;
      justify-self: right;
      padding-top: 1rem;
    }

  }


}



