<div class="checkout-main">
    <div class="checkout-main__address">
        <div class="mat-title title blue-gray-color">Shipping Address</div>
        <div>ADFSGl Afnn Gadf (+98) 34234256
            Blk 134 Agad AFDSG, #07-324, UK 344310
            Default
            CHANGE</div>
    </div>
    <div class="checkout-main__items">
        <div class="checkout-main__items__header">
            <div class="checkout-main__items__header__img u-headers--gray" style="font-weight: normal;"></div>
            <div class="checkout-main__items__header__name u-headers--gray " style="font-weight: normal;">Product Orders</div>
            <div class="checkout-main__items__header__unit u-headers--gray " style="font-weight: normal;">Unit Price</div>
            <div class="checkout-main__items__header__qty u-headers--gray " style="font-weight: normal;">Quantity</div>
            <div class="checkout-main__items__header__subtotal u-headers--gray " style="font-weight: normal;">SubTotal</div>
        </div>
        <div class="checkout-main__items__header">
            <div class="checkout-main__items__header__img">
                <img 
                  class="u-img--90px"
                  src="https://glodimg.chinabrands.com/2014/201409/source-img/1410717328898-P-1986006.jpg"
                />
            </div>
            <div class="checkout-main__items__header__name" style="font-weight: normal;">SMZ658 Professional 1.1M In-ear Headset Perfect HiFi Sound Earphone Flat Wire Good Sound Insulation</div>
            <div class="checkout-main__items__header__unit" style="font-weight: normal;">$1.0</div>
            <div class="checkout-main__items__header__qty" style="font-weight: normal;">1</div>
            <div class="checkout-main__items__header__subtotal" style="font-weight: normal;">$1.0</div>
        </div>

        <div class="checkout-main__items__horizontal"></div>

        <div class="checkout-main__items__fees">
            <div class="checkout-main__items__fees__msg-label">
                Message: 
            </div>
            <div class="checkout-main__items__fees__msg-input">
                <input placeholder="(Optional) Leave a message to seller" >
            </div>
            <div class="checkout-main__items__fees__ship-opt">
                Shipping Option:
            </div>
            <div class="checkout-main__items__fees__ship">
                Standard Express??
            </div>
            <div class="checkout-main__items__fees__subtotal">
                SubTotal
            </div>
        </div>
        <div class="checkout-main__items__ordertotal">
            <div class="checkout-main__items__ordertotal__label">
                <div class="mat-subheading-2">Order Total:</div>
            </div>
            <div class="checkout-main__items__ordertotal__total">
                <div class="mat-title">$102</div>
            </div>
        </div>
    </div>

    <!--Voucher Start-->
    <div class="checkout-main__voucher">
        <div class="checkout-main__voucher__label mat-title title" style="font-weight: normal;">Vouchers</div>
        <div class="checkout-main__voucher__select"><a href="">Select Voucher</a></div>
    </div>
    <!--Voucher End-->

    <!--Payment Start-->
    <div class="checkout-main__payment">
        <div class="checkout-main__payment__label mat-title title" style="font-weight: normal;">Payment Method</div>
        <div class="checkout-main__payment__method">
              <mat-button-toggle-group>
                <mat-button-toggle>
                    PayNow
                </mat-button-toggle>
                <mat-button-toggle>
                    Credit Card/Debit Card
                </mat-button-toggle>
                <mat-button-toggle>
                    Cash
                </mat-button-toggle>
              </mat-button-toggle-group> 
        </div>
    </div>
    <!--Payment End-->

    <!--Place Order Start-->
    <div class="checkout-main__place-order">
        <div class="checkout-main__place-order__ship-total">
            <div class="checkout-main__place-order__ship-total__empty"></div>
            <div class="checkout-main__place-order__ship-total__label">Shipping Total:</div>
            <div class="checkout-main__place-order__ship-total__total">$2.0</div>
        </div>
        <div class="checkout-main__place-order__total-payment">
            <div class="checkout-main__place-order__total-payment__empty"></div>
            <div class="checkout-main__place-order__total-payment__label">Total Payment</div>
            <div class="checkout-main__place-order__total-payment__total mat-display-1">$14.57</div>
        </div>
    </div>
    <!--Place Order End-->
</div>
