<div class='o-grid'>
  <div class='o-grid__address'>
    <div class='o-grid__address__header mat-h2'>
      Delivery Address
    </div>
    <div class='o-grid__address__contacts mat-body'>
      (+15) 658324234
    </div>
    <div class='o-grid__address__detail mat-body'>
      101 XYZ ZYZ (ship to stall water)
    </div>
    <div class='o-grid__address__country-postal mat-body'>
      Tiasfne 12604 
    </div>
    <div class='o-grid__address__btn--change-address'>
        <button mat-icon-button matTooltip='Add New Address' (click)='addAddress()'>
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button matTooltip='Edit Address' (click)='editAddress()'>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip='Navigate Before Address'>
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-icon-button matTooltip='Navigate Next Address'>
          <mat-icon>navigate_next</mat-icon>
        </button>

    </div>
  </div>

  <div class='o-grid__product'> <!--BEGIN product -->
    <div class='o-grid__product__header mat-h2'> <!--BEGIN header -->
      Products Ordered
    </div>  <!--END header -->

    <div class='mat-h4 o-grid__product__lheader u-headers--gray'> <!--BEGIN list prod header -->
      <div class='o-grid__product__lheader__img'>Image</div>
      <div class='o-grid__product__lheader__prod'>Product</div>
      <div class='o-grid__product__lheader__uprice'>Unit Price</div>
      <div class='o-grid__product__lheader__qty'>Quantity</div>
      <div class='o-grid__product__lheader__tprice'>Total Price</div>
    </div> <!--END list prod -header -->


    <div class='mat-body o-grid__product__lorder'> <!--BEGIN list prod order -->
      <div class='o-grid__product__lheader__img'>Image</div>
      <div class='o-grid__product__lheader__prod'>	
Hight Quality Compatible R3 Development Board for Arduino</div>
      <div class='o-grid__product__lheader__uprice'>$ 3.62</div>
      <div class='o-grid__product__lheader__qty'>1</div>
      <div class='o-grid__product__lheader__tprice'>$ 3.62</div>
    </div>  <!--END list prod order -->

    <div class='mat-body o-grid__product__smethod'> <!--BEGIN ship method -->
      <div class='o-grid__product__smethod__label mat-body'>
        Shipping methods
      </div>
      <div class='o-grid__product__smethod__method mat-body-strong' >
        SEA priority mail(Malaysia >$120，need to pay 6% imp
        <button mat-icon-button matTooltip='Change shipping method'>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
        <div class='o-grid__product__smethod__cost mat-small u-headers--gray'>
          Cost
        </div>
        <div class='o-grid__product__smethod__info mat-small u-headers--gray'>
          Information Online
        </div>
        <div class='o-grid__product__smethod__transport mat-small u-headers--gray'>
          Transport Time
        </div>
        <div class='o-grid__product__smethod__costamount mat-body'>
          $2.3
        </div>
        <div class='o-grid__product__smethod__infod mat-body'>
          6-7 (days)
        </div>
        <div class='o-grid__product__smethod__transportd mat-body'>
          7-15 (days)
        </div>

        <div class='o-grid__product__smethod__subtotal mat-body'>
          SubTotal
        </div>
        <div class='o-grid__product__smethod__samount mat-h2'>
          $1.23
        </div> 
    </div> <!--END ship method -->


  </div> <!--END product -->


 <!-- <div class='o-grid__payment-method'>
    <div class='o-grid__payment-method__header mat-h1'>
      Payment Method
    </div> 

    <div class='o-grid__payment-method__btn'>
          <img src='https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg'/>
    </div>

  </div> -->

 <!-- <div class='o-grid__voucher'>
    <div class='o-grid__voucher__header mat-h1'>
      Vouchers
    </div> 
  </div> -->

  <div class='o-grid__total-amount mat-body'>
    <div class='o-grid__total-amount__label-tax'>
        Taxes
    </div>
    <div class='o-grid__total-amount__tax-amount'>
         $0.00
    </div>
    <div class='o-grid__total-amount__label-discount'>
        Discount
    </div>
    <div class='o-grid__total-amount__discount-amount'>
         $0.00
    </div>
    <div class='o-grid__total-amount__label-total mat-h2'>
        Total Amount
    </div>
    <div class='o-grid__total-amount__total-amount2 mat-display-1' style='margin: 0 0 0'>
         $0.00
    </div>
    <div class='o-grid__total-amount__paypal'>
        <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('body');</script>
    </div>
    <div class='o-grid__total-amount__order-btn'>
         <button mat-raised-button color='accent'>Place Order</button>
    </div>
  </div>

</div>
