
@mixin box-bg {
  padding: 1.5rem;
  background-color: white;
}


.o-grid {
  display:grid;
  //grid-template-areas: 'shipping-address'
  //                     'product'
  //                     'voucher'
  //                     'payment-method'
  //                     'total-amount'; 
  grid-template-areas: 'shipping-address'
                       'product'
                       'total-amount'; 
  margin: 1rem; 
  grid-gap: 1rem;


  &__address { // Delivery Address
    grid-area: shipping-address;
    display:grid;
    grid-template-columns: 1fr 2.5fr 1fr auto;
    grid-template-areas: 'header   header header        '
                         'contacts detail country-postal';
    @include box-bg();

    &__header {
      grid-area: header;
    }

    &__detail {
      grid-area: detail;
    }

    &__contacts {
      grid-area: contacts;
    }

    &__country-postal {
      grid-area: country-postal;
    }

  }// Delivery Address

  &__product { // Product Order
    grid-area: product;
    //grid-gap: 0.5rem;
    display: grid;
    grid-template-areas: 'header'
                         'lheader'
                         'lorder'
                         'smethod';
    @include box-bg();

    &__header {
      grid-area: header;
    }

    .u-headers--gray {
      color: #ccc;
    }

    .u-topline {
      border-top:1px solid #eee;
      margin-top:0.3rem;
    }

    &__lheader {
      grid-area: lheader;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr 1fr; 
      grid-template-areas: 'img prod uprice qty tprice';

      &__img {
        grid-area: img;
      }

      &__prod {
        grid-area: prod;
        align-self: center;
        
      }

      &__uprice {
        grid-area: uprice;
        justify-self: center;
        align-self: center;
      }

      &__qty {
        grid-area: qty;
        justify-self: center;
        align-self: center;
      }

      &__tprice {
        grid-area: tprice;
        justify-self:right;
        align-self: center;
      }


    }


    &__lorder {
      grid-area: lorder;
      @extend .o-grid__product__lheader;
    }

    &__smethod {
      grid-area: smethod;
      border-top: 1px solid #ccc;
      padding-top:1rem;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr; 
      grid-template-areas: 'label method  cost        info  transport  subtotal'
                           '.     .       costamount  infod transportd samount ';

      &__label {
        grid-area: label;
        justify-self: center;
        align-self: center;
      }

      &__method {
        grid-area: method;
        align-self: center;
      }

      &__cost {
        grid-area: cost;
        justify-self: center;
      }

      &__info {
        grid-area: info;
        justify-self: center;
      }

      &__transport {
        grid-area: transport;
        justify-self: center;
      }

      &__costamount {
        grid-area: costamount;
        justify-self: center;
      }

      &__infod {
        grid-area: infod;
        justify-self: center;
      }

      &__transportd {
        grid-area: transportd;
        justify-self: center;
      }


      &__subtotal {
        grid-area: subtotal;
        aligh-self: center;
        justify-self:right;
      }

      &__samount {
        grid-area: samount;
        justify-self:right;
      }


    }

  } // Products Order


//  &__voucher {
//    display: grid;
//    grid-area: voucher;
//    @include box-bg;
//    &__header {
//    }
//  }

//  &__payment-method {
//    display: grid;
//    grid-area: payment-method;
//    grid-template-columns: 1fr 1fr 3fr;
//    grid-template-areas: 'pmheader opt .';
//    @include box-bg();
//
//    &__header {
//      grid-area: pmheader;
//    }
//
//    &__btn {
//      grid-area: opt;
//    }
//
//  }


  &__total-amount {
    display: grid;
    grid-gap: 1rem;
    grid-area: total-amount;
    grid-template-columns: 3fr auto auto;
    grid-template-areas: '. label-tax      tax-amount     '
                         '. label-discount discount-amount'
                         '. label-total    total-amount2  '
                         '. paypal         order-btn      ';
    @include box-bg();


    &__label-tax {
      grid-area: label-tax;
      justify-self:right;
    }

    &__tax-amount {
      grid-area: tax-amount;
      justify-self:right;
    }

    &__label-discount {
      grid-area: label-discount;
      justify-self:right;
    }

    &__discount-amount {
      grid-area: discount-amount;
      justify-self:right;
    }

    &__label-total {
      grid-area: label-total;
      justify-self:right;
    }


    &__total-amount2 {
      grid-area: total-amount2;
      justify-self:right;
    }

    &__order-btn {
      grid-area: order-btn;
    }

    &__paypal {
      grid-area: paypal;
    }

  }

}





