<div class="products-checkout-grid-main">
  <div class="products-checkout-grid-shipping-address">
    <div class="product-checkout-grid-shipping-address-header">
      <div class="mat-h1">Delivery Address</div>
    </div>
    <div class="products-checkout-grid-shipping-address-contacts">
      <div class="mat-h4">
      (+15) 658324234
      </div>
    </div>
    <div class="products-checkout-grid-shipping-address-address">
      <div class="mat-h4">
      101 XYZ ZYZ (ship to stall water)
      </div>
    </div>
    <div class="products-checkout-grid-shipping-address-country-postal">
      <div class="mat-h4">
      Tiasfne 12604 
      </div>
    </div>
  </div>

  <div class="products-checkout-grid-products">
    <div class="product-checkout-grid-products-header">
      <h1 class="mat-h1">Products Ordered</h1>
    </div>

    <div class="mat-h3 products-checkout-grid-products-list headers-color">
      <div class="products-checkout-grid-products-list-image">Image</div>
      <div class="products-checkout-grid-products-list-product">Product</div>
      <div class="products-checkout-grid-products-list-uprice">Unit Price</div>
      <div class="products-checkout-grid-products-list-quantity">Quantity</div>
      <div class="products-checkout-grid-products-list-tprice">Total Price</div>
    </div>


    <div class="mat-h4 products-checkout-grid-products-list2">
      <div class="products-checkout-grid-products-list-image">Image</div>
      <div class="products-checkout-grid-products-list-product">	
Hight Quality Compatible R3 Development Board for Arduino</div>
      <div class="products-checkout-grid-products-list-uprice">$ 3.62</div>
      <div class="products-checkout-grid-products-list-quantity">1</div>
      <div class="products-checkout-grid-products-list-tprice">$ 3.62</div>
    </div>



    <div class="mat-h4 products-checkout-grid-products-list3">
      <div class="products-checkout-grid-products-list-shipping-label mat-body">
        <button mat-icon-button ><mat-icon>search</mat-icon></button>
        Shipping methods
      </div>
      <div class="products-checkout-grid-products-list-shipping-method mat-body-strong" >
        SEA priority mail(Malaysia >$120，need to pay 6% imp 
      </div>
      <div class="products-checkout-grid-products-list-shipping-price">
        price
      </div>

    </div>


  </div>


  <div class="products-checkout-grid-payment-method">
    <div class="product-checkout-grid-products-header">
      <h1 class="mat-h1">Payment Method</h1>
    </div>

    

  </div>

</div>
