<div class="o-grid">
  <div class="o-grid__address">
    <div class="o-grid__address__header">
      <div class="mat-h1">Delivery Address</div>
    </div>
    <div class="o-grid__address__contacts">
      <div class="mat-h4">
      (+15) 658324234
      </div>
    </div>
    <div class="o-grid__address__detail">
      <div class="mat-h4">
      101 XYZ ZYZ (ship to stall water)
      </div>
    </div>
    <div class="o-grid__address__country-postal">
      <div class="mat-h4">
      Tiasfne 12604 
      </div>
    </div>
  </div>

  <div class="o-grid__product">
    <div class="o-grid__product__header">
      <h1 class="mat-h1">Products Ordered</h1>
    </div>

    <div class="mat-h3 o-grid__product__lheader u-headers--gray">
      <div class="o-grid__product__lheader__img">Image</div>
      <div class="o-grid__product__lheader__prod">Product</div>
      <div class="o-grid__product__lheader__uprice">Unit Price</div>
      <div class="o-grid__product__lheader__qty">Quantity</div>
      <div class="o-grid__product__lheader__tprice">Total Price</div>
    </div>


    <div class="mat-h4 o-grid__product__lorder">
      <div class="o-grid__product__lheader__img">Image</div>
      <div class="o-grid__product__lheader__prod">	
Hight Quality Compatible R3 Development Board for Arduino</div>
      <div class="o-grid__product__lheader__uprice">$ 3.62</div>
      <div class="o-grid__product__lheader__qty">1</div>
      <div class="o-grid__product__lheader__tprice">$ 3.62</div>
    </div>



    <div class="mat-h4 o-grid__product__smethod">
      <div class="o-grid__product__smethod__label mat-body">
        Shipping methods
      </div>
      <div class="o-grid__product__smethod__method mat-body-strong" >
        SEA priority mail(Malaysia >$120，need to pay 6% imp
    <!--    <button mat-button >Change</button> -->
      </div>
        <div class="o-grid__product__smethod__cost mat-small u-headers--gray">
          Cost
        </div>
        <div class="o-grid__product__smethod__info mat-small u-headers--gray">
          Information Online
        </div>
        <div class="o-grid__product__smethod__transport mat-small u-headers--gray">
          Transport Time
        </div>
        <div class="o-grid__product__smethod__costamount mat-body">
          $2.3
        </div>
        <div class="o-grid__product__smethod__infod mat-body">
          6-7 (days)
        </div>
        <div class="o-grid__product__smethod__transportd mat-body">
          7-15 (days)
        </div>

        <div class="o-grid__product__smethod__subtotal mat-body">
          SubTotal
        </div>
        <div class="o-grid__product__smethod__samount mat-h2">
          $1.23
        </div> 
    </div>

<!--    <div class="mat-h4 pc__list3">
        <div class="pc__shipping-empty">
d
        </div>
        <div class="pc__shipping-freight">
          Freight: $1.23
        </div>
        <div class="pc__shipping-process">
          Processing: $1.23
        </div>
        <div class="pc__shipping-package">
          Package: $1.23
        </div>
        <div class="pc__shipping-tax">
          Taxes: $1.23
        </div>
        <div class="pc__shipping-total">
          SubTotal: $1.23
        </div>
    </div> -->



  </div>


  <div class="products-checkout-grid-payment-method">
    <div class="product-checkout-grid-products-header">
      <h1 class="mat-h1">Payment Method</h1>
    </div>

    

  </div>

</div>
