

.products-checkout-grid-main {
  display:grid;
  grid-template-areas: "shipping-address"
                       "products"
                       "voucher"
                       "payment-method"; 
  margin: 1rem; 
  grid-gap: 1rem;
}


.products-checkout-grid-shipping-address {
  grid-area: shipping-address;
  display:grid;
  //grid-template-areas: "header"
  //                     "contacts"
  //                     "address"
  //                     "country-postal";
  grid-template-columns: 1fr 2.5fr 1fr auto;
  grid-template-areas: "header header header"
                       "contacts address country-postal";
  padding: 1rem; 
  background-color: white;

  .products-checkout-grid-shipping-address-header {
    grid-area: header;
    padding:0.5rem;
  }

  .products-checkout-grid-shipping-address-address {
    grid-area: address;
  }

  .products-checkout-grid-shipping-address-contacts {
    grid-area: contacts;
  }

  .products-checkout-grid-shipping-address-country-postal {
    grid-area: country-postal;
  }

}

.products-checkout-grid-products {
  padding: 1rem; 
  background-color: white;
  grid-area: products;
  grid-gap: 0.5rem;
  display: grid;
  grid-template-areas: "header"
                       "product-order-header"
                       "product-order"
                       "shipping-method";

  .products-checkout-grid-products-header {
    grid-area: header;
    padding: 0.5rem;
  }

  .headers-color {
    color: #ccc;
  }

  .top-line {
    border-top:1px solid #ccc;
    margin-top:0.3rem;
  }

  .products-checkout-grid-products-list {
    grid-area: product-order-header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr; 
    grid-template-areas: "pl_image pl_product pl_uprice pl_quantity pl_tprice";

    .products-checkout-grid-products-list-image {
      grid-area: pl_image;
    }
    .products-checkout-grid-products-list-product {
      grid-area: pl_product;
      align-self: center;
      
    }
    .products-checkout-grid-products-list-uprice {
      grid-area: pl_uprice;
      justify-self: center;
      align-self: center;
    }
    .products-checkout-grid-products-list-quantity {
      grid-area: pl_quantity;
      justify-self: center;
      align-self: center;
    }
    .products-checkout-grid-products-list-tprice {
      grid-area: pl_tprice;
      justify-self: center;
      align-self: center;
    }


  }
  .products-checkout-grid-products-list2 {
    grid-area: product-order;
    @extend .products-checkout-grid-products-list;
  }

  .products-checkout-grid-products-list3 {
    grid-area: shipping-method;
    border-top: 1px solid #ccc;
    padding-top:1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr; 
    grid-template-areas: "s_label s_method s_method s_price s_price";

    .products-checkout-grid-products-list-shipping-label {
      grid-area: s_label;
      justify-self: center;
      align-self: center;
    }

    .products-checkout-grid-products-list-shipping-method {
      grid-area: s_method;
      align-self: center;
    }

    .products-checkout-grid-products-list-shipping-price {
      grid-area: s_price;
    }

  }

}


.products-checkout-grid-voucher {
  grid-area: voucher;
}

.products-checkout-grid-payment-method {
  grid-area: payment-method;
}
