

.o-grid {
  display:grid;
  grid-template-areas: "shipping-address"
                       "product"
                       "voucher"
                       "payment-method"; 
  margin: 1rem; 
  grid-gap: 1rem;

  .u-header--padding {
    padding:0.5rem;
  }

  &__address { // Delivery Address
    grid-area: shipping-address;
    display:grid;
    grid-template-columns: 1fr 2.5fr 1fr auto;
    grid-template-areas: "header   header header        "
                         "contacts detail country-postal";
    padding: 1rem; 
    background-color: white;

    &__header {
      grid-area: header;
      @extend .u-header--padding;
    }

    &__detail {
      grid-area: detail;
    }

    &__contacts {
      grid-area: contacts;
    }

    &__country-postal {
      grid-area: country-postal;
    }

  }// Delivery Address

  &__product { // Product Order
    padding: 1rem; 
    background-color: white;
    grid-area: product;
    grid-gap: 0.5rem;
    display: grid;
    grid-template-areas: "header"
                         "lheader"
                         "lorder"
                         "smethod";

    &__header {
      grid-area: header;
      @extend .u-header--padding;
    }

    .u-headers--gray {
      color: #ccc;
    }

    .u-topline {
      border-top:1px solid #eee;
      margin-top:0.3rem;
    }

    &__lheader {
      grid-area: lheader;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr 1fr; 
      grid-template-areas: "img prod uprice tprice qty";

      &__img {
        grid-area: img;
      }

      &__prod {
        grid-area: prod;
        align-self: center;
        
      }

      &__uprice {
        grid-area: uprice;
        justify-self: center;
        align-self: center;
      }

      &__qty {
        grid-area: qty;
        justify-self: center;
        align-self: center;
      }

      &__tprice {
        grid-area: tprice;
        justify-self: center;
        align-self: center;
      }


    }


    &__lorder {
      grid-area: lorder;
      @extend .o-grid__product__lheader;
    }

    &__smethod {
      grid-area: smethod;
      border-top: 1px solid #ccc;
      padding-top:1rem;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr; 
      grid-template-areas: "label method  cost        info  transport  subtotal"
                           ".     .       costamount  infod transportd samount ";

      &__label {
        grid-area: label;
        justify-self: center;
        align-self: center;
      }

      &__method {
        grid-area: method;
        align-self: center;
      }

      &__cost {
        grid-area: cost;
        justify-self: center;
      }

      &__info {
        grid-area: info;
        justify-self: center;
      }

      &__transport {
        grid-area: transport;
        justify-self: center;
      }

      &__costamount {
        grid-area: costamount;
        justify-self: center;
      }

      &__infod {
        grid-area: infod;
        justify-self: center;
      }

      &__transportd {
        grid-area: transportd;
        justify-self: center;
      }


      &__subtotal {
        grid-area: subtotal;
        aligh-self: center;
        justify-self: center;
      }

      &__samount {
        grid-area: samount;
        justify-self: center;
      }


    }

  } // Products Order


  &__voucher {
    grid-area: voucher;
  }

  &__payment-method {
    grid-area: payment-method;
  }

}





