.o-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'voucher'
                         'checkout';
    background-color: white;
    padding: 0.5rem 1.5rem; 
    
    &__voucher {
      grid-area: voucher; 
      justify-self: end;
      padding: 0.5rem;
    }
  
    &__checkout {
      grid-area: checkout;
      justify-self: end;
      padding: 0.5rem;
    }
  
  }