<div class="layout-main"> <!-- app-layout -->
    <header class="layout-main__header">
      <mat-toolbar color="primary" class="layout-main__header__btn layout-main--navbar mat-elevation-z6"> 
        <!-- left menu -->
        <div *ngIf="menu$?.menu" class="layout-main__header__btn__menu">
            <button 
              mat-icon-button 
              (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div *ngIf="menu$?.arrow_back" class="layout-main__header__btn__arrow" >
            <button 
              mat-icon-button 
              (click)="location.back()">
              <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
         <!-- https://stackoverflow.com/questions/41694018/angular2-unset-outlets-with-routerlink -->
        <div class="layout-main__header__btn__logo">
          <button 
            mat-button 
            [routerLink]="['', { outlets: {primary: 'product', amount: null }}]">
            <h1 class="mat-headline">Sfayn Store</h1>
          </button>
        </div>
        <!-- left menu -->

        <!-- right menu -->
        <div class="layout-main__header__btn__search" >
          <div class="layout-main__header__btn__search__icon">
            <button mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="layout-main__header__btn__search__box">
            <input 
              type="text" 
              class="searchbox" 
              placeholder="Search for products you need" 
              [(ngModel)]="searchValue" 
              (keydown.enter)="searchValue ? goSearch(): $event.preventDefault()"/>
          </div>
          <div class="layout-main__header__btn__search__btn">
              <button 
                *ngIf="searchValue" 
                matSuffix 
                mat-icon-button 
                aria-label="Clear" 
                (click)="searchValue=''">
                  <mat-icon>close</mat-icon>
              </button>
          </div>
        </div>
        <!-- https://stackoverflow.com/questions/42554091/routerlink-syntax-when-targeting-multiple-router-outlets-primary-aux -->
        <div class="layout-main__header__btn__btn">
          <button 
            mat-icon-button 
            [routerLink]="['', { outlets: { primary: 'cart', amount: 'cart/amount' }}]" >
            <mat-icon 
              [matBadge]="cartCount" 
              [matBadgeHidden]="!cartCount" 
              matBadgeColor="accent" 
              matBadgeSize="small">
              shopping_cart</mat-icon>
          </button>
        </div>
        <div class="layout-main__header__btn__link">
          <button mat-icon-button ><mat-icon>account_circle</mat-icon></button>
        </div>
        <!-- right menu -->

      </mat-toolbar>
    </header> 
  
    <main class="layout-main__main"> 
        <mat-sidenav-container> 
             <mat-sidenav 
              #sidenav 
              mode="side" 
              (opened)="menu$?.side_bar" 
              style="border:0" > <!-- mode change to over when in mobile -->
 <!--               <app-products-search></app-products-search> -->
             </mat-sidenav>
  
             <mat-sidenav-content>
                <router-outlet></router-outlet>
             </mat-sidenav-content>
        </mat-sidenav-container>
    </main>
  
   <div class="layout-main__sticky" >
          <router-outlet name="amount"></router-outlet> 
   </div> 
  
    <footer class="layout-main__footer">
        Footer
    </footer>    
  
  </div> <!-- app-layout -->