
.layout-main {
//  background-color:#ecebeb; 
  background-color: #f5f5f5;
  margin:0;
  display: grid;
  grid-template-rows: 60px auto auto 60px;
  grid-template-areas: "header header"
                       "main main"
                       "sticky sticky"
                       "footer footer";
  &__header {
    grid-area: header;
    display: grid;

    &__btn {
      display: grid;
      gap: .5rem;
      grid-template-columns: 40px auto 1fr auto auto;

      &__menu {
        justify-self:left;    
      }

      &__logo {
        justify-self:left;    
      }
      
      &__search {
        justify-self:center;    
        display: grid;

        &__box, &__btn {
          grid-row: 1 ;
        }

        &__box {
          display: grid;
          grid-column: 1 / 4;
        }

        &__btn {
          display: grid;
          grid-column: 3 / 4;
        }
      }

      &__btn {
        justify-self:right;    
      }
      &__link {
        justify-self:right;    
        font-size:.90rem;
      }
    }

  }

  &__main {
    grid-area: main;
    height:100%; 
    background-color:#ecebeb; 
  }

  &__sticky {
    grid-area: sticky;
    position: sticky;
    bottom: 0;
    z-index: 2;
    height: fit-content;
    margin: 1rem 2.5rem;
  }

  &__products {
    grid-area: products;
    height: 300px;
  }

  &__footer{
    grid-area: footer;
  }

}

.layout-main--navbar {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2;  
  color: #fff;
}

.layout-main--right-menu {
  width: 100%;
} 

mat-sidenav {
  width: 260px;
} 

.mat-drawer-container {
  background-color:#ecebeb; 
}

.searchbox {
  border: none;
  outline: none;
  width:566px;
  padding: .8rem;
  background-color: #a3c8da;
}