<div class='cart-list'>
    <div class='cart-list__select'>
      <mat-checkbox (change)='checkAll($event)'></mat-checkbox>
    </div>
    <div class='cart-list__img' >
    </div>
    <div class='cart-list__details mat-body u-headers--gray' >
      <div class='cart-list__details__product'>Product</div>
      <div class='cart-list__details__color'>Color</div>
      <div class='cart-list__details__uprice'>Unit Price</div>
      <div class='cart-list__details__quantity'>Quantity</div>
      <div class='cart-list__details__totalprice'>Total Price</div>
      <div class='cart-list__details__actions'>-</div>
    </div>

</div>

<ng-container *ngFor='let sc of cartObj'>
    <div class='cart-list' >
      <div class='cart-list__select'>
          <mat-checkbox [checked]='sc.node.checked' (change)='checkProduct($event, sc.node.id)'></mat-checkbox>
      </div>
      <div class='cart-list__img' >
        <ng-container *ngFor="let img of sc.node.productVariant.parentSn.parent2image.edges">
          <img *ngIf="img.node.coverPhoto" [src]='img.node.imgUrl' style='width:90px;object-fit: cover'/>
        </ng-container>
      </div>
      <div class='cart-list__details'>
        <div class='cart-list__details__product'>
            <div fxFlex class='mat-body'> {{sc.node.productVariant.parentSn.title}} </div>
        </div>
        <div class='cart-list__details__color'><span class='mat-body'>{{sc.node.productVariant.color}}</span>
          
        </div>
        <div class='mat-body-1 cart-list__details__uprice mat-body'>{{sc.node.productVariant.price | currency}}</div>
        <div class='cart-list__details__quantity mat-body'>
            <mat-form-field>
              <input matInput type='number' [value]='sc.node.quantity' #qty (change)='updateQuantity(sc.node.productVariant.sku, qty.value)'/> 
            </mat-form-field>
            <div fxLayout='row' fxLayoutAlign='center start' class='mat-small'>
              <div>Stocks: {{sc.node.productVariant.quantity}} </div>
            </div>
        </div> 
        <div class='mat-subheading-2 cart-list__details__totalprice mat-body' >{{sc.node.totalPrice | currency}}</div>
        <div class='cart-list__details__actions'>
            <button mat-button (click)='deleteCart(sc.node.productVariant.sku)'>Remove</button>
        </div>
      </div> 
    </div>
</ng-container>
