.checkout-items-gap { //for the sake of having gap in between
  display:grid;
  gap: .5rem;
}

.checkout-items {
    background-color: white;
    padding: 1.5rem; 
    display: grid;
   // @extend .u-dark-border-bottom;
    border-bottom-color: #CCC;
    border-bottom-style: solid;

    &__header { // header STARTS
      display: grid;
      width: 100%;
      padding: 0.5rem;
      grid-template-columns: 90px 2fr .5fr .5fr .5fr;
      grid-template-areas: 'img products unit qty subtotal';
      align-items: center;

      &__img {
        grid-area: img;
        justify-self: left;
      }

      &__products {
        grid-area: products;
        justify-self: left;
      //  color: lightslategray;
      }

      &__unit {
        grid-area: unit;
        justify-self: center;
      //  color: lightslategray;
      }

      &__qty {
        grid-area: qty;
        justify-self: center;
      //  color: lightslategray;
      }

      &__subtotal {
        grid-area: subtotal;
        justify-self: right;
      //  color: lightslategray;
      }
    } // header END

    &__horizontal {
      //  @extend .u-horizontal-line;
      border-bottom-color: #eee;
      border-bottom-style: solid;
    }


    &__fees { // order fees start
      padding: 0.5rem;
      display: grid;
      gap: .5rem;
      grid-template-columns: 2fr auto 1fr 1fr;
      align-items: center;

      &__msg-input {
        justify-self:left;
        display: grid;
        width:70%;
       // grid-row: 1 / span 3 ;
      }

      &__ship-label {
        display: grid;
      }

      &__ship {
        display: grid;
      }

      &__subtotal {
        justify-self: right;
      }
    } // order fees end

    &__ordertotal{
      display: grid;
      padding: 0.5rem;
      grid-template-columns: 1fr 70px;
      grid-template-areas: 'label total';
      align-items:center;

      &__label {
        justify-self: right;
        grid-area: label;
      }
      &__total {
        justify-self: right;
        grid-area: total;
        color: #455a64;
      }
    }


  }

  .frm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .frm-full-width {
    width: 100%;
  }