
.checkout-items {
    background-color: white;
    padding: 1.5rem; 
    display: grid;
   // @extend .u-dark-border-bottom;
    border-bottom-color: #CCC;
    border-bottom-style: solid;

    &__header { // header STARTS
      display: grid;
      width: 100%;
      padding: 0.5rem;
      grid-template-columns: 90px 2fr .5fr .5fr .5fr;
      grid-template-areas: 'img products unit qty subtotal';
      align-items: center;

      &__img {
        grid-area: img;
        justify-self: left;
      }

      &__products {
        grid-area: products;
        justify-self: left;
      //  color: lightslategray;
      }

      &__unit {
        grid-area: unit;
        justify-self: center;
      //  color: lightslategray;
      }

      &__qty {
        grid-area: qty;
        justify-self: center;
      //  color: lightslategray;
      }

      &__subtotal {
        grid-area: subtotal;
        justify-self: right;
      //  color: lightslategray;
      }
    } // header END

    &__horizontal {
      //  @extend .u-horizontal-line;
      border-bottom-color: #eee;
      border-bottom-style: solid;
    }


    &__fees { // order fees start
      padding: 0.5rem;
      display: grid;
      gap: .5rem;
      grid-template-columns: auto  1fr auto 1fr 1fr;
      grid-template-areas: 'msg-label msg-input ship-label ship subtotal2';
      align-items: center;

      &__msg-label {
        grid-area: msg-label;
      }

      &__msg-input {
        grid-area: msg-input;
        justify-self:left;
      }

      &__ship-label {
        grid-area: ship-label;
      }

      &__ship {
        grid-area: ship;
      }

      &__subtotal {
        grid-area: subtotal2;
        justify-self: right;
      }
    } // order fees end

    &__ordertotal{
      display: grid;
      padding: 0.5rem;
      grid-template-columns: 1fr 70px;
      grid-template-areas: 'label total';
      align-items:center;

      &__label {
        justify-self: right;
        grid-area: label;
      }
      &__total {
        justify-self: right;
        grid-area: total;
        color: #455a64;
      }
    }


  }