
$outer-box-bgcolor: white;


.checkout-voucher {
    background-color: $outer-box-bgcolor;
    display: grid;
    padding: 1.5rem; 
    align-items: center;

    &__label-icon {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items:center;
      gap: .5rem;
      &__icon {
        display: grid;
      }
      &__label {
        display: grid;
        justify-self: left;
        font-size: 18px;
      }
    }


    &__select {
      display: grid;
      justify-self: right;
    }
  }

