<!--Payment Start-->
<div class="checkout-payment">
    <div class="checkout-payment__label-icon">
        <div class="checkout-payment__label-icon__icon">
            <mat-icon aria-hidden="false" class="gray-icon">payment</mat-icon>
        </div>
        <div class="checkout-payment__label-icon__label">
            Payment Method
        </div>
    </div>
    <div class="checkout-payment__method">
      <mat-button-toggle-group>
        <mat-button-toggle 
          *ngFor="let method of methodObj"
          [checked]="method.node.default" 
        >
          {{method.node.method}}
        </mat-button-toggle>
      </mat-button-toggle-group> 
    </div>
</div>
<!--Payment End-->

