<form [formGroup]="loginForm" (ngSubmit)="logIn()" (keydown.enter)="$event.preventDefault()">
  <div class="login-container">
    <div class="login-container__title" mat-dialog-title>
      <h2 class="login-container__title__label">Login</h2>
      <button class="login-container__title__close" mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="login-container__google" >
      <button mat-button color="accent" style="display:grid;gap:2rem" >
        <mat-icon><img src="assets/google-logo.svg"/></mat-icon>
        <span>Continue with Google</span>
      </button>
    </div>
    <div class="login-container__facebook"  >
      <button mat-button color="accent">
        <mat-icon><img src="assets/facebook-logo.svg"/></mat-icon>
        Continue with Facebook</button>
    </div>
    <div class="login-container__line">
      <div class="login-container__line__left"></div>
      <div class="login-container__line__or mat-small">or</div>
      <div class="login-container__line__right"></div>
    </div>
    <div class="login-container__input" mat-dialog-content >
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [type]="hide ? 'password' : 'text'"  formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint>
          <a href="javascript:alert('coming soon!')">Forgot Password?</a>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="login-container__actions" mat-dialog-actions>
      <button type="submit" mat-raised-button color="accent" [disabled]="!loginForm.valid">Log in</button>
    </div>
    <div class="login-container__signup" mat-dialog-actions >
      <a href="javascript:alert('coming soon!')">Sign up for new account</a>
    </div>
  </div>
</form>    
