
.login-container {
  width:100%;
  display: grid;
  gap:1.2rem;
  padding:0px 12px 5px;

  &__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__label {
      justify-self: left;
      margin: 12px 0;
    }
    &__close {
      justify-self: right;
    }
  }

  &__google {
    width:100%;
  }

  &__facebook {
    width:100%;
  }

  &__signup {
    justify-self: center;
  }

  &__line {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    align-items: center;

    &__left {
      background-color:  rgba(0,0,0,.09);
      height:1px;
    }

    &__or {
      padding: 0.5rem;
      justify-self: center;
    }

    &__right {
      background-color:  rgba(0,0,0,.09);
      height:1px;
    }
  }


}

// prefix login-container to not interfere in global css
mat-form-field, input {
   width:100%;
}

.mat-button {
  color:black;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid;
  border-radius: 24px;
}

.mat-raised-button {
  width:100%;
}

.mat-dialog-title {
  margin: 0;    
}
