<div class="login-container" fxLayout="column" style="width:100%">

    <form [formGroup]="loginForm" (ngSubmit)="logIn(username, password)">
        <h2 fxLayoutAlign="start center" mat-dialog-title>Login</h2>
        <div fxLayout="column" fxLayoutAlign="start center" mat-dialog-content >
          <mat-form-field>
                <input matInput placeholder="Enter your username" formControlName="username">
          </mat-form-field>
          <mat-form-field>
                <input matInput type="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'"  formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
          </mat-form-field>
        </div>
        <div fxLayout="row" mat-dialog-actions>
          <button type="submit" mat-raised-button color="accent" [disabled]="!loginForm.valid" style="width:100%">Login</button>
        </div>
    </form>    
</div>
