
<div class="products-cart-grid-main">
                        <div class="products-cart-grid-select">
                            <mat-checkbox></mat-checkbox>
                        </div>
                        <div class="products-cart-grid-img" >
                        </div>
                        <div class="products-cart-grid-details" >
                            <div class="mat-subheading-2 products-cart-grid-details-product">Product</div>
                            <div class="mat-subheading-2 products-cart-grid-details-color">Color</div>
                            <div class="mat-subheading-2 products-cart-grid-details-uprice">Unit Price</div>
                            <div class="mat-subheading-2 products-cart-grid-details-quantity">Quantity</div>
                            <div class="mat-subheading-2 products-cart-grid-details-totalprice">Total Price</div>
                            <div class="mat-subheading-2 products-cart-grid-details-actions">-</div>
                        </div>

</div>
<div class="products-cart-grid-warehouse">
    <div class="products-cart-grid-warehouse-select">
        <mat-checkbox> [Warehouse] warehouse</mat-checkbox>
    </div>
</div>


        <ng-container *ngFor="let sc of shopCart$">
            <div class="products-cart-grid-main" >
                        <div class="products-cart-grid-select">
                            <mat-checkbox></mat-checkbox>
                        </div>
                        <div class="products-cart-grid-img" >
                          <ng-container *ngFor="let img of sc.node.product.originalImg.edges" >
                              <img [src]="img.node.originalImg" style="width:100%;object-fit: cover"/>
                          </ng-container>
                        </div>
                        <div class="products-cart-grid-details">
                            <div class="products-cart-grid-details-product">
                                <div fxFlex class="mat-subheading-1"> {{sc.node.product.title}} </div>
                            </div>
                            <div class="products-cart-grid-details-color"><span class="mat-body-1">{{sc.node.product.color}}</span>
                                    <button mat-icon-button><mat-icon>arrow_drop_down</mat-icon></button>
                                </div>
                                <div class="mat-body-1 products-cart-grid-details-uprice" *ngFor="let w of sc.node.product.warehouse.edges">${{w.node.price}}</div>
                                <div class="products-cart-grid-details-quantity">
                                                <mat-form-field>
                                                <button matPrefix mat-icon-button style="font-size:28px" (click)="minusQty()"> <mat-icon>remove_circle_outline</mat-icon></button>
                                                    
                                                    <input matInput [value]="sc.node.quantity" readonly /> 
                                                
                                                <button matSuffix mat-icon-button style="font-size:28px" (click)="addQty()"> <mat-icon>add_circle_outline</mat-icon></button>
                                                </mat-form-field>
                                        <div fxLayout="row" fxLayoutAlign="center start" class="mat-small">
                <div *ngFor="let w of sc.node.product.warehouse.edges">Available Stocks: {{w.node.goodsNumber}} </div>
                                        </div>
                                        </div> 
                                        <div class="mat-title products-cart-grid-details-totalprice" *ngFor="let w of sc.node.product.warehouse.edges"><strong>${{w.node.price}}</strong></div>
                                        <div class="products-cart-grid-details-actions">
                                            <button mat-button >Remove</button>
                                        </div>
                        </div> <!-- products-cart-grid -->
        </div> <!-- products-cart-grid-main -->
        </ng-container>



        <div class="products-cart-grid-checkout">
            <div class="products-cart-grid-checkout-checkout">
                <button mat-raised-button>Checkout</button>
            </div>
        </div>

        <div style="height:300px">

            Product Items here ...
        </div>
