<div class="checkout-address">
    <div class="checkout-address__label-icon">
        <div class="checkout-address__label-icon__icon">
            <mat-icon aria-hidden="false" class="gray-icon">place</mat-icon>
        </div>
        <div class="checkout-address__label-icon__label">
            Shipping Address
        </div>
    </div>
    <div class="checkout-address__value">
        <div class="checkout-address__value__customer-name">
            ADFSGl Afnn Gadf (+98) 34234256
        </div>
        <div class="checkout-address__value__address">
            Blk 134 Agad AFDSG, #07-324, UK 344310
        </div>
        <div class="checkout-address__value__change">
            <a href="">Change</a>
        </div>
    </div>
</div>
