
        <mat-toolbar color="primary" class="app-navbar mat-elevation-z6">
            <span class="display-1">Sfayn</span>
           
             <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>

            <span class="button">
           <!-- <button mat-button >Features</button>
            <button mat-button >Docs</button>
            <button mat-button >Blogs</button> -->
            </span>
        </mat-toolbar>

        <br/><br/><br/><br/>

<router-outlet></router-outlet>
<app-products>Zup!</app-products>
