


.app-layout {
    margin:0;
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

.app-header {
    grid-area: header;
}

.app-main {
    grid-area: main;
    height:100%; 
    background-color:#ecebeb; 
}



.app-footer{
    grid-area: footer;
}


.app-navbar {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:2; 
}

.app-navbar {
    color: #fff;
}

.app-navbar-right-menu {
    width: 100%;
  /*  div button {
        min-width: 0;
        padding:6px;
    
    } */
} 


mat-sidenav {
  width: 260px;
} 

