


.app-layout {
    margin:0;
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

.app-header {
    grid-area: header;
}

.app-main {
    grid-area: main;
    height:100%; 
    background-color:#F0F0F0;
}



.app-footer{
    grid-area: footer;
}


.app-navbar {
/*    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:2; */
}

.app-navbar {
    color: #fff;
}

mat-sidenav {
  width: 260px;
} 

