<mat-sidenav-container fullscreen scrollable>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" > <!-- mode change to over when in mobile -->
    <app-products-search></app-products-search>
  </mat-sidenav>
  <mat-sidenav-content>
            <div class="app-layout">
            <header class="app-header">
                    <mat-toolbar color="primary" class="app-navbar mat-elevation-z6" fxLayout="row" fxLayoutAlign="start center"> 
                                <div *ngIf="menu.menu">
                                    <button mat-button (click)="sidenav.toggle()"> <mat-icon>menu</mat-icon></button>
                                </div>
                                <div *ngIf="menu.arrow_back" >
                                    <button mat-button routerLink="/pl"> <mat-icon>arrow_back</mat-icon></button>
                                </div>
                            <div>Sfayn</div>
                            <div fxLayoutAlign="end center" style="width:100%">
                                <div><button mat-button ><mat-icon>search</mat-icon></button></div>
                                <div><button mat-button ><mat-icon>shopping_cart</mat-icon></button></div>
                                <div><button mat-button (click)="openDialog()"><mat-icon>account_circle</mat-icon></button></div>
                                <div><button mat-button ><mat-icon>person_add</mat-icon></button></div>
                            </div> 
                    </mat-toolbar>
            </header>


            <main class="app-main">
                  <router-outlet></router-outlet>
            </main>


            <footer class="app-footer">
                Footer
            </footer>    
            </div>
  </mat-sidenav-content>
</mat-sidenav-container>
