

.product-list {

    display: grid;
    padding: 2rem;
    
    &__header {
      display:grid;
      color: gray;
    }

    &__items {
      display: grid;
      /*grid-template-columns: repeat(auto-fit, minmax(190px, 190px)); */
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
      grid-gap: .5rem;
      background-color:#ecebeb;

      &__bottom {
        padding-top:.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 50px;

        &__sold {
          justify-self: right;
        }

        &__star {
          justify-self: right;
        }

        &__heart {
          justify-self: right;
        }
      }

      &__side-padding {
        padding:0px 1rem;
      }

      &__items {
        cursor:pointer;
        display: flex;
        flex-flow: column;
        padding: 0.3rem;
        background-color:white;
        word-break: break-all; // dont breaks by words. it affects the layout padding
      }

      &__items img {
        order: -1;
        align-self: center;
        width:100%
      }

    }

}


.product-list > a {
  text-decoration: none;
}

.product-list > a:hover {
  text-decoration: underline;
}

mat-icon {
  font-size:16px;
}
