<div class='product-list'>

  <div *ngIf="title" class="product-list__header mat-title">
    {{title}}
  </div>

  <ng-container *ngIf="sort">
    <div class="product-list__sort">
      <div class="product-list__sort__results">
        {{results}} items found
      </div>
      <div class="product-list__sort__by">
        <mat-form-field appearance="fill">
          <mat-label>Sort By:</mat-label>
          <mat-select (selectionChange)="onSortChange($event)">
            <mat-option *ngFor="let s of sortItems" [value]="s.value">
              {{s.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="product-list__line"></div>
  </ng-container>

  <div class="product-list__items">
    <ng-container *ngFor="let variants of products">
        <div routerLink="/product/detail/{{variants.node.id}}" class="product-list__items__items mat-elevation-z0">
          <div class='product-list__items__side-padding'>
            <div matTooltip="{{variants.node.parentSn.title}}" class="mat-body" >{{variants.node.parentSn.title | slice:0:40}}...</div>
            <div class="priceRange">${{variants.node.parentSn.priceRange}}</div>
          </div>

          <!-- get coverphoto -->
          <ng-container *ngFor="let img of variants.node.parentSn.parent2image.edges">
            <!-- TODO should be able to support imgURL and uploaded img-->
            <img *ngIf="img.node.coverPhoto; getVariantsDefaultImg" [src]="img.node.imgUrl" [alt]="variants.node.parentSn.title">
          </ng-container>

          <ng-template #getVariantsDefaultImg>
            <img *ngIf="variants.node.imgUrl" [src]="variants.node.imgUrl" [alt]="variants.node.parentSn.title">
          </ng-template>
            

          <div class='product-list__items__bottom'>
            <div class="mat-small product-list__items__bottom__fav" ><mat-icon>favorite_border</mat-icon></div>
            <div class="mat-small product-list__items__bottom__star" ><mat-icon>star_border</mat-icon></div>
            <div class="mat-small product-list__items__bottom__sold">0 Sold</div>
          </div> 
        </div>
    </ng-container>
  </div>
</div>