.products-grid-main {
   /* font-family: Avenir, Roboto, Helvetica, san-serif; */
    font-size: 95%; 
    background-color:#ecebeb;
}

.products-grid-main {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(190px, 190px)); */
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: .5rem;
    padding: .5rem; /* need to give space for left & right side of the sku grid */
}

.products-grid-items {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    background-color:white;
   /* border: 1px solid black;*/
}

.products-grid-items img {
    order: -1;
    align-self: center;
    width:100%
}

.products-grid-main > a {
  text-decoration: none;
}

.products-grid-main > a:hover {
  text-decoration: underline;
}

/* .sku_grid_main  a:active {
  color: black;
}

.sku_grid_main  a:visited {
  color: purple;
} */  /* --> dunno it will affect all cards???? */

.products-header-background {
    /*background: #b0bec5;*/
    /*background: #78909c;*/
    background: #3f51b5;
    height:100px;
/*    font-weight:300;
    font-size:20px; */
}

.products-header-background button {
    line-height:0; 
    height:100px; 
    width:100px; 
    background: 0 0;
    border: 0;
    cursor: pointer;
    padding:0; 
    font-family:inherit;

}
