

<div class="products-grid-main">

    <ng-container *ngFor="let parent of ps.sharedProdObj$ | async">

         <div class="products-grid-items mat-elevation-z0" *ngFor="let product of parent">
             <a routerLink="/pd/{{product.node.id}}">{{product.node.title | slice:0:35}}...</a>
           <ng-container *ngFor="let w of product.node.warehouse.edges">
               <h1><strong>${{w.node.price}}</strong></h1>
               <div>{{w.node.goodsState }}</div>
               <div>Stocks:{{w.node.goodsNumber }}</div>
           </ng-container>

          <ng-container *ngFor="let img of product.node.originalImg.edges">
            <img [src]="img.node.originalImg" [alt]="product.node.title">
          </ng-container>

          <div fxLayout="row" fxLayoutAlign="space-around center" >
              <div fxFlex><mat-icon>favorite_border</mat-icon></div>
              <div fxFlex fxLayoutAlign="end"><mat-icon>star_border</mat-icon></div>
              <div>0 Sold</div>
          </div>


         </div>   
    </ng-container>
</div>

