 <div class="sku_grid_main">
     <ng-container *ngFor="let p of prod$">
         <div class="sku_items mat-elevation-z4">
           <a href="#">{{p.title | slice:0:35}}...</a>
           <ng-container *ngFor="let w of p.warehouse">
               <h1><strong>${{w.price}}</strong></h1>
               <div>{{w.goodsState }}</div>
           </ng-container>

          <div>{{p.sku}}</div>
          <!-- <div>{{p.parentId}}</div>-->
          <div>{{p.color}}</div>

          <ng-container *ngFor="let img of p.originalImg">
            <img src="{{img.originalImg}}" alt="{{p.title}}">
          </ng-container>

          <div fxLayout="row" fxLayoutAlign="space-around center" >
              <div fxFlex><mat-icon>favorite_border</mat-icon></div>
              <div fxFlex fxLayoutAlign="end"><mat-icon>star_border</mat-icon></div>
              <div>0 Sold</div>
          </div>
         </div>
   </ng-container>
 </div>


