<div class="product-search">
  <div class="product-search__search">
    <div>
        <h4>Categories</h4>
        <ng-container *ngFor="let category of categories">
            <p><mat-checkbox [(ngModel)]="category.checked" (change)="filterBy()">
              {{category.name}}
            </mat-checkbox>
            </p>
        </ng-container>
    </div>
    
    <div class="product-search__search__line"></div>
    <div class="product-search__search__price">
        <div class="product-search__search__price__label"><strong>Price Range</strong></div>
        <div class="product-search__search__price__min">
            <mat-form-field appearance="fill" style="width:80px;">
                <mat-label>Min</mat-label>
                <input 
                  type="number" 
                  matInput 
                  [(ngModel)]="minPrice">
            </mat-form-field>
        </div>
        <div class="product-search__search__price__dash">-</div>
        <div class="product-search__search__price__max">
            <mat-form-field appearance="fill" style="width:80px;">
                <mat-label>Max</mat-label>
                <input 
                  type="number" 
                  matInput 
                  [(ngModel)]="maxPrice">
            </mat-form-field>
        </div>
        <div class="product-search__search__price__btn">
          <button 
            mat-raised-button 
            color="accent" 
            [disabled]="(!minPrice || !maxPrice) || (minPrice >= maxPrice)"
            (click)="filterBy()">Apply</button>
        </div>
    </div>
    <div class="product-search__search__line"></div>
    <div>
        <h4>Brands</h4>
        <ng-container *ngFor="let brand of brands">
            <p><mat-checkbox [(ngModel)]="brand.checked">
              {{brand.name}}
            </mat-checkbox>
            </p>
        </ng-container>
    </div>
    <div class="product-search__search__line"></div>
  </div>
  
  <div *ngIf="loading" class="product-search__spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading" class="product-search__list">
    <app-product-list 
        [products]="productList"
        title="Product Search Results"
    ></app-product-list>
  </div>
</div>