<div class="product-banner">
  <div class="product-banner__img">
    <img [src]="displayBanner" />
  </div>
  <div class="product-banner__btn">
    <ng-container *ngFor="let p of promotionalBanner">
        <span *ngIf="p.node.imgUpload;else get_by_imgurl" class="product-banner__btn__nav" (mouseover)="setBanner(p.node.imgUpload)"></span>

        <ng-template #get_by_imgurl>
          <span *ngIf="p.node.imgUrl" class="product-banner__btn__nav" (mouseover)="setBanner(p.node.imgUrl)"></span>
        </ng-template>
    </ng-container>    
  </div>
</div>
