
<div class='product-category'>
  <div class="product-category__header mat-title">
    Categories
  </div>
  <div class="product-category__items">
    <ng-container *ngFor="let c of category">
      <div class="product-category__items__items">
        <div class="product-category__items__items__img">
          <img style="width:80px;height:80px; object-fit: cover;" src="assets/empty-product.png">
        </div>
        <div class="product-category__items__items__name">
          {{c.node.name}}
        </div>
      </div>
    </ng-container>
  </div>
</div>
