

.product-category {
  display: grid;
  padding: 2rem;
  /*grid-template-columns: repeat(auto-fit, minmax(190px, 190px)); */
  
  &__header {
    display:grid;
    color: gray;
  }

  &__items {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    justify-items: center;
    gap: .2rem;

    &__items {
      border-radius: 16px;
      cursor:pointer;
      width:100%;
      height: 140px;
      //padding: 0.3rem;
      background-color:white;
      display:grid;
      justify-content: center;
      align-content: center;
      gap: 1rem;

      &__name {
        display: grid;
        justify-self:center;
        font-weight: bold;
        color: #999;
      }

      &__img {
        animation: fadein 3s;
        display: grid;
        justify-content:center;
        width:100%;
      }
    }
  }

  & img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

}


.product-category > a {
  text-decoration: none;
}

.product-category > a:hover {
  text-decoration: underline;
}

mat-icon {
  font-size:64px;
}

//@Todo make it reusable
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
