

.frm {
  display: grid;
  grid-gap: 0.5rem;
  padding: 1rem;
  //grid-template-columns: 1fr;
  grid-template-areas: 'firstname'
                       'lastname '
                       'email    '
                       'address  '
                       'country  '
                       'city     '
                       'zip      '
                       'phone    ';

  &__firstname {
    grid-area: firstname;
  }

  &__lastname {
    grid-area: lastname;
  }

  &__email {
    grid-area: email;
  }

  &__address {
    grid-area: address;
  }

  &__country {
    grid-area: country;
  }
  
  &__city {
    grid-area: zip;
  }

  &__phone {
    grid-area: phone;
  }

                        
}
