.mat-raised-button, .mat-stroked-button {
  width: 95%;
}

.frm {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-areas: 'header       '   
                       'name         '   
                       'phone        '    
                       'address      '
                       'country      '        
                       'city         '
                       'zip          '
                       'use-address  '
                       'btn          ';

  &__header {
    grid-area: header;
  }

  &__useaddress {
    grid-area: use-address;
  }

  &__name {
    grid-area: name;
  }



  &__address {
    grid-area: address;
  }

  &__country {
    grid-area: country;
  }
  
  &__city {
    grid-area: city;
  }

  &__zip {
    grid-area: zip;
  }

  &__phone {
    grid-area: phone;
  }

  &__btn {
    grid-area: btn;
    display: grid;
    grid-gap: 0;
    grid-template-areas: 'btn-cancel btn-ok';

    &--ok {
      grid-area: btn-ok;
    }

    &--cancel {
      grid-area: btn-cancel;
    }

  }

                        
}
