<div class="frm mat-body">

  <div class='frm__header mat-h3'>New Address</div>


  <mat-form-field class="frm__name">
    <input matInput placeholder="Name" types='text'>
  </mat-form-field>



  <mat-form-field class="frm__phone">
    <input matInput placeholder="phone" types='tel'>
  </mat-form-field>


  <mat-form-field class="frm__address">
    <input matInput placeholder="Address" types='text'>
  </mat-form-field>

  <mat-form-field class="frm__country">
    <mat-select placeholder="Select Country">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="frm__city">
    <input matInput placeholder="City" types='text'>
  </mat-form-field>


  <mat-form-field class="frm__zip">
    <input matInput placeholder="Zip code" types='text'>
  </mat-form-field>

  <div class='frm__useaddress'>
        <mat-checkbox>Use this shipping address</mat-checkbox>
  </div>

  <div class='frm__btn'>
    <div class='frm__btn--cancel'>
       <button mat-stroked-button>Cancel</button>
    </div>

    <div class='frm__btn--ok'>
       <button mat-raised-button color="primary" >Submit</button>
    </div>
  </div>

</div>
