<div class="frm">

  <mat-form-field class="frm__firstname">
    <input matInput placeholder="Firstname" types='text'>
  </mat-form-field>

  <mat-form-field class="frm__lastname">
    <input matInput placeholder="Lastname" types='text'>
  </mat-form-field>

  <mat-form-field class="frm__email">
    <input matInput placeholder="Email" types='email'>
  </mat-form-field>


  <mat-form-field class="frm__address">
    <input matInput placeholder="Address" types='text'>
  </mat-form-field>

  <mat-form-field class="frm__country">
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="frm__city">
    <input matInput placeholder="City" types='text'>
  </mat-form-field>

  <mat-form-field class="frm__phone">
    <input matInput placeholder="phone" types='text'>
  </mat-form-field>
  <mat-form-field class="frm__zip">
    <input matInput placeholder="Zip code" types='text'>
  </mat-form-field>

</div>
