<div class="products-search-container">

    <mat-accordion>

  <mat-expansion-panel [class.mat-expansion-panel]="false">
    <mat-expansion-panel-header>
        Category
    </mat-expansion-panel-header>


        <mat-nav-list>
          <mat-list-item *ngFor="let c of listOfCategoryCount">
              <ng-container *ngIf="c.catCount>0">
                 <button mat-icon-button (click)="searchCategory(c.level3CatId)" >
                     {{c.catName}} (<strong>{{c.catCount}}</strong>)
                 </button>
              </ng-container>
              <ng-container *ngIf="c.catCount==0">
                 <button mat-icon-button >
                     {{c.catName}} 
                 </button>
              </ng-container>
          </mat-list-item>
        </mat-nav-list>

  </mat-expansion-panel>

  <mat-expansion-panel [class.mat-expansion-panel]="false">
    <mat-expansion-panel-header>
      Warehouse
    </mat-expansion-panel-header>

    This the expansion 2 content

  </mat-expansion-panel>

</mat-accordion>


Search: <strong>{{sCat}}</strong>

</div>
