
                <div class="products-detail-container"> <!-- TODO: styling app-container only use for detail -->

<section class="products-detail-grid" *ngIf="prod$">
    <div class="products-detail-img">
            <img *ngIf="main_pic" [src]="main_pic" />
            <ng-container *ngFor="let p of prod$.originalImg.edges.slice(0,1)" >
                <img *ngIf="!main_pic" [src]="p.node.originalImg"/>
            </ng-container>    
        <div class="products-detail-img-slide" >
            <ng-container *ngFor="let p of prod$.originalImg.edges">
                <img [src]="p.node.originalImg" (mouseover)="setMainPic(p.node.originalImg)"/>
            </ng-container>    
        </div>
    </div>
    <div class="products-detail-title" >
        <h2>{{prod$.title}}</h2>
                <ng-container *ngFor="let w of prod$.warehouse.edges">
                    <h1> USD: {{w.node.price}} </h1>
                </ng-container>    
        <div>
            <div>color:</div>
            <div>
                <div>


                    <mat-button-toggle-group>
                        <mat-button-toggle routerLink="/pd/{{p.node.id}}" value="p.node.color" [checked]="isProdColor(prod$.color, p.node.color)" *ngFor="let p of prod$.parentSn.parent2product.edges" >
                             {{p.node.color}} 
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    
                </div>
            </div>    
        </div>
        <div>
            <div>quantity:</div>
                <ng-container *ngFor="let w of prod$.warehouse.edges">
                    <div><mat-slider min="0" max="5" step="1" #qty value="1"></mat-slider>{{qty.value}} of {{w.node.goodsNumber}} (stocks)</div>
            </ng-container>
        </div>
        <div>
            <div>warehouse:</div>
            <div *ngFor="let w of prod$.warehouse.edges">{{w.node.warehouse}} </div>
        </div>
        <div>
            <div>goodstate:</div>
            <div *ngFor="let w of prod$.warehouse.edges">{{w.node.goodsState}} </div>
        </div>
        <div>
             <button mat-raised-button color="accent">Add to Cart</button>
         </div>    
    </div>
    <div class="products-detail-desc">
        <div [innerHTML]="prod$.goodsDesc"></div>
    </div>
</section>

                </div>
